
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(241, 241, 241);
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/** HEADING SECTION **/

header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 18px 35px 0;
}

.header-button {
  background-color: rgb(0, 153, 255);
  width: 100px;
  height: 32px;
  margin-left: 10px;
  border: solid black;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
}

.header-text,
footer {
  font-size: 12px;
  margin-top: 4px;
  color: rgb(75, 75, 75);
}

/** MAIN SECTION **/

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.main-logos {
  display: flex;
  flex-direction: column;
}

.main-logo,
.main-sublogos {
  align-self: center;
}

section {
  width: 400px;
  border: solid darkgray;
  border-width: 1px;
  border-radius: 2px;
  background-color: white;
  color: rgb(75, 75, 75);
}

a {
  text-decoration: none;
  color: rgb(0, 174, 255);
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 40px 50px 40px;
}

.form-element,
.form-input {
  padding: 15px 20px 10px 20px;
  text-align: center;
}

.form-labels {
  padding: 15px 20px 10px 0;
}

p,
.form-labels {
  font-size: 12px;
}

.confirm-password {
  display: none;
}

.confirm-password ul {
  list-style: none;
}

.verification {
  display: none;
  margin-top: 10px;
}

#phone:focus + .verification {
  display: inline;
  flex-direction: column;
}

#password:focus + .confirm-password {
  display: flex;
  flex-direction: column;
}

.password-details {
  font-size: 11px;
  color: red;
  margin-top: 8px;
}

#create {
  margin-top: 10px;
  background-color: rgb(0, 153, 255);
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: white;
  padding: 10px 70px 10px 70px;
}

.italic-style {
  font-style: italic;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#google {
  background-color: rgb(241, 241, 241);
}

/** FOOTER SECTION **/

footer {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .footer-list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

footer li {
  padding: 10px;
}

/** RESPONSIVENESS SECTION **/

@media screen and (max-width: 768px) {
  body header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #sign-in {
    display: none;
  }
}
